<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pantalla de Registros</title>
    <link rel="icon" href="{{ url_for('static', filename='logo.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='history.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">  
</head>
<body>
    <!-- Contenedor principal -->
    <div class="main-container">
        
        <!-- Espacio para el logo -->
        <div class="logo-container">
            <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo de la empresa" class="logo">
        </div>

        <!-- Texto de introducción -->
        <div class="intro-text">
            <h2>Historial de Registros por Proyectos</h2>
        </div>

        <!-- Lista de proyectos como botones -->
        <div class="records-container">
            <!-- Proyectos dinámicos desde Azure Blob Storage -->
            {% for project in blob_projects %}
            <button class="record-button" onclick="redirectToProjectDetails('{{ project.name }}')">
                {{ project.name }}<br><small>Fecha: {{ project.date }}</small>
            </button>
            {% endfor %}
        </div>

        <!-- Menú inferior -->
        <div class="bottom-menu">
            <a href="{{ url_for('registros') }}" class="bottom-button"><i class="fas fa-home"></i></a>
        </div>
    </div>

    <script>
        function redirectToAddProject() {
            // Redirigir a la página para agregar un nuevo proyecto
            window.location.href = "{{ url_for('add_project') }}";
        }

        function redirectToProjectDetails(projectName) {
            // Verifica que el nombre del proyecto no esté vacío
            if (!projectName) return;
            window.location.href = `{{ url_for('historialregistro') }}?name=${encodeURIComponent(projectName)}`;
        }
    </script>
</body>
</html>

