<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pantalla de Registros</title>
    <link rel="icon" href="{{ url_for('static', filename='logo.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='history.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">  
    <!-- SweetAlert para mensajes -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    <!-- Contenedor principal -->
    <div class="main-container">
        
        <!-- Espacio para el logo -->
        <div class="logo-container">
            <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo de la empresa" class="logo">
        </div>

        <!-- Texto de introducción -->
        <div class="intro-text">
            <h2>Mis Proyectos</h2>
            <p>Selecciona un proyecto para ver su historial</p>
        </div>

        <!-- Lista de proyectos como botones -->
        <div class="records-container">
            <!-- Proyectos dinámicos desde base de datos -->
            {% for project in db_projects %}
             <button class="record-button" onclick="redirectToProjectDetails('{{ project.id_proyecto }}', '{{ project.name }}')">
                {{ project.name }}<br><small>Inicio: {{ project.fecha_inicio }}</small>
            </button>
            {% else %}
            <div class="no-projects">
                <p>No tienes proyectos registrados</p>
            </div>
            {% endfor %}
        </div>

        <!-- Menú inferior -->
        <div class="bottom-menu">
            <a href="{{ url_for('registros') }}" class="bottom-button"><i class="fas fa-arrow-left"></i></a>
        </div>
    </div>

    <script>
        function redirectToAddProject() {
            // Redirigir a la página para agregar un nuevo proyecto
            window.location.href = "{{ url_for('add_project') }}";
        }

        function redirectToProjectDetails(projectId, projectName) {
            // Verifica que el nombre del proyecto no esté vacío
            if (!projectName) return;
            window.location.href = `{{ url_for('historialregistro') }}?project_id=${projectId}&project_name=${encodeURIComponent(projectName)}`;
        }
        
    </script>
</body>
</html>

